<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title> Back office </title>
    </head>
    <body>
    <h1> Back office </h1>
	    <ul>
       	<li><a href="{{ path('creation-evenement') }}">Créer un évènement : </a>Robin</li>
       	<li>Modifier un évènement : Robin</li>
       	
       	<li>Mode "draft", brouillon pour les évènements : Paul</li>
     	</ul>
		</body>
</html>
