<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title> Science infuse </title>
    </head>
    <body>
    <ul>
     	<li><a href="{{ path('back-office') }}">Back office</a></li>
     	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a href="{{ path('presentation') }}">Qui sommes-nous ?</a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a href="{{ path('login') }}">Login</a></li>
		</ul>
		<br>
   	<center><h1>Page d'accueil</h1></center>
   	<br>
   	<br>
   	<ul>
      <li>Charte graphique / feuilles de style : Paul</li>
      <br>
      <li>Schéma relationnel de la base de données : Amélie</li>
      <br>
      <li>Partie responsive, intégration de la navigation circulaire : Alexis</li>
    </ul>
    	
    <br>
		<center>
			<br>
			<br>
			<h2> Aperçu évènement 1 </h2>
			<br>
			<br>
			<h2> Aperçu évènement 2 </h2>
			<br>
			<br>
			<h2> Aperçu évènement 3 </h2>
			<br>
			<br>
			<h2> ... </h2>
		</center>
	</body>
</html>
