<div class="header">
  <ul class="navbar navbar-black navbar-card-2 left-align  inline">
    <li><a class= "padding-large" href="{{path('homepage')}}"><img src="{{ asset('bundles/science-infuse/images/logo-test.png') }}"/></a></li>
    <li><a class ="padding-large hover-grey" href="{{ path('back-office') }}">Back office</a></li>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a class ="padding-large hover-grey" href="{{ path('presentation') }}">Qui sommes-nous ?</a></li>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </ul>
</div>
